#Menu-OrderAdmin .icon-16 {
    background-image: url('../images/order.png');
    background-position: 0 0;
}

.order-admin-sidebar {
  border-right: none;
  border-left: 1px solid #C0C0C2;
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100%;
}

.order-items-sidebar {
  width: 180px;
}

.order-items-sidebar .cms-panel-content {
    box-sizing: border-box;
    padding: 5px 12px 8px 8px;
}

.order-items-sidebar .cms-panel-content .field label.left {
    float: left;
    padding: 8px 8px 8px 0;
}

.order-items-sidebar .cms-panel-content .field .middleColumn {
    margin: 0;
    text-align: right;
}

#Root .order-admin-items {
  width: 100%;
  padding-right: 190px;
  position: absolute;
  min-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}


.order-customer-sidebar .cms-panel-content {
    width: 550px;
}

    .order-customer-sidebar table.ss-gridfield-table tr th div.fieldgroup {
        min-width: 100px;
    }

#Root .order-admin-customer {
  width: 100%;
  padding-right: 590px;
  position: absolute;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}
    .order-admin-customer .field label.left { 
        width: 135px;
    }
    .order-admin-customer .field .middleColumn {
        margin-left: 145px;
    }
    
.cms .ss-gridfield .add-existing-autocompleter button#action_gridfield_orderitemadd {
    height: 32px;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
